
<!--
  <a role="button" class="btn btn-primary btn-xs" href="../files/papers/hadian2016roll.pdf" target="_blank">PDF</a>     
  <a role="button" class="btn btn-primary btn-xs" href="../files/papers/hadian2016roll_poster.pdf" target="_blank">poster</a>      
  <a role="button" class="btn btn-info btn-xs" href="https://github.com/alihadian/ROLL" target="_blank">code</a>
  <a role="button" class="btn btn-warning btn-xs" href="http://dx.doi.org/10.1145/2882903.2882964" target="_blank">DOI</a> 
-->

<div>
  <a href="dsbatista-phd-thesis-2016.pdf" target="_blank"><b>Large-Scale Semantic Relationship Extraction for Information Discovery</b></a>
  <br>
  David S Batista, Ph.D. Thesis, Instituto Superior Técnico, University of Lisbon, 2016
  <div class="dropdown">
    <a role="button" class="btn btn-primary btn-xs" href="phd-dsbatista2016-presentation.pdf" target="_blank">presentation</a>
    <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">bibtex <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-left" role="menu">
    <li><pre>@incollection{phd-dsbatista2016
        title = {Large-Scale Semantic Relationship Extraction for Information Discovery},
        author = {Batista, David S.},
        school  = {Instituto Superior Técnico, Universidade de Lisboa},
        year = {2016}
      }</pre></li>
    </ul>
  </div>
</div>




<div>
  <a href="breds-emnlp_15.pdf" target="_blank"><b>Semi-Supervised Bootstrapping of Relationship Extractors with Distributional Semantics</b></a>
  <br>
  David&nbsp;S Batista, Bruno Martins, and M&aacute;rio&nbsp;J Silva. In <em>Empirical Methods in Natural Language Processing</em>. ACL, 2015. 
  <b><em>Received an Honorable Mention for Best Short Paper</em></b>
  <div class="dropdown">
      <a role="button" class="btn btn-primary btn-xs" href="emnlp15-poster.pdf" target="_blank">poster</a>
      <a role="button" class="btn btn-info btn-xs" href="https://github.com/davidsbatista/BREDS" target="_blank">code</a>
      <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">bibtex <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-left" role="menu">
      <li><pre>@incollection{batista2015emnlp,
        title = {Semi-Supervised Bootstrapping of Relationship Extractors with Distributional Semantics},
        author = {Batista, David S and Martins, Bruno and Silva, M{\'a}rio J},
        booktitle = {In Empirical Methods in Natural Language Processing},
        year = {2015},
        publisher = {ACL}
      }</pre></li>
      </ul>
  </div>
</div>




<div>
  <a href="minwise-wise_13.pdf" target="_blank"><b>A Minwise Hashing Method for Addressing Relationship Extraction from Text</b></a>
  <br>
  David&nbsp;S Batista, Rui Silva, Bruno Martins, and M&aacute;rio&nbsp;J Silva. In <em>Web Information Systems Engineering</em>. Springer, 2013.
  <div class="dropdown">
      <a role="button" class="btn btn-info btn-xs" href="https://github.com/davidsbatista/MuSICo" target="_blank">code</a>
      <a role="button" class="btn btn-primary btn-xs" href="minwise-wise_13_presentation.pdf" target="_blank">presentation</a>
      <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">bibtex <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-left" role="menu">
      <li><pre>@incollection{batista2013minwise,
        title = {A Minwise Hashing Method for Addressing Relationship Extraction from Text},
        author = {Batista, David S and Silva, Rui and Martins, Bruno and Silva, M{\'a}rio J},
        booktitle = {Web Information Systems Engineering--WISE 2013},
        year = {2013},
        publisher = {Springer Berlin Heidelberg}
      }</pre></li>
      </ul>
  </div>
</div>




<div>
  <a href="santos2013.pdf" target="_blank"><b>Document Analytics through Entity Resolution</b></a>
  <br>
  Jo&atilde;o Santos, Bruno Martins, and David&nbsp;S Batista. In <em>Web Information Systems Engineering</em>. Springer, 2013.
  <div class="dropdown">
      <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">bibtex <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-left" role="menu">
      <li><pre>@incollection{santos2013document,
        title = {Document Analytics through Entity Resolution},
        author = {Santos, Jo{\~a}o and Martins, Bruno and Batista, David S},
        booktitle = {Web Information Systems Engineering--WISE 2013},
        year = {2013},
        publisher = {Springer Berlin Heidelberg}
      }</pre></li>
      </ul>
  </div>
</div>






<div>
  <a href="santos2013.pdf" target="_blank"><b>Exploring DBpedia and Wikipedia for Portuguese Semantic Relationship Extraction</b></a>
  <br>
  David&nbsp;Soares Batista, David Forte, Rui Silva, Bruno Martins, and M&aacute;rio&nbsp;J. Silva.<em>Linguam&aacute;tica</em>, 5(1), 2013.
  <div class="dropdown">
      <a role="button" class="btn btn-info btn-xs" href="https://github.com/davidsbatista/MuSICo" target="_blank">code</a>
      <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">bibtex <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-left" role="menu">
      <li><pre>@article{batista2013extracccao,
        title = {Exploring DBpedia and Wikipedia for Portuguese Semantic Relationship Extraction},
        author = {Batista, David Soares and Forte, David and Silva, Rui and Martins, Bruno and Silva, M{\'a}rio J.},
        journal = {Linguam{\'a}tica},
        volume = {5},
        number = {1},
        year = {2013}
      }</pre></li>
      </ul>
  </div>
</div>



<div>
  <a href="http://www.emeraldinsight.com/doi/abs/10.1108/00330331311313708" target="_blank"><b>Tracking politics with POWER</b></a>
  <br>
  Silvio Moreira, David&nbsp;S Batista, Paula Carvalho, Francisco&nbsp;M Couto, and Mario&nbsp;J Silva. In <em>Program: electronic library and information systems</em>, 47(2), 2013.
  <div class="dropdown">
      <a role="button" class="btn btn-info btn-xs" href="http://dmir.inesc-id.pt/project/POWER-PT_01_in_English" target="_blank">dataset</a>
      <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">bibtex <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-left" role="menu">
      <li><pre>@article{moreira2013tracking,
        title = {Tracking politics with POWER},
        author = {Moreira, Silvio and Batista, David S and Carvalho, Paula and Couto, Francisco M and Silva, Mario J},
        journal = {Program: electronic library and information systems},
        volume = {47},
        number = {2},
        year = {2013},
        publisher = {Emerald Group Publishing Limited}
      }</pre></li>
      </ul>
  </div>
</div>


<p><a name="batista2012toponym"></a>
<a href="toponomy-propor_12.pdf"><b>Toponym Disambiguation using Ontology-based Semantic Similarity</b>.</a>
 David&nbsp;S Batista, Jo&atilde;o&nbsp;D Ferreira, Francisco&nbsp;M Couto, and
  M&aacute;rio&nbsp;J Silva.
 In <em>Computational Processing of the Portuguese Language</em>.
  Springer Berlin Heidelberg, 2012.
<!--[&nbsp;<a href="{{ include.url }}#batista2012toponym">bib</a>&nbsp; | <a href="https://github.com/davidsbatista/Toponym-Disambiguation">code</a>&nbsp; | <a href="http://dmir.inesc-id.pt/project/Geo-Net-PT_02_in_English">Geo-Net-PT02</a>&nbsp;  | <a href="toponym-disambiguation-poster.pdf">poster</a>&nbsp; | <a href="toponomy-propor_12.pdf">PDF</a>]-->
</p>


<p><a name="moreira2011power"></a>
<a href="workshop_silvio-ontose2011.pdf"><b>POWER - Politics Ontology for Web Entity Retrieval</b>.</a>
 Silvio Moreira, David Batista, Paula Carvalho, Francisco&nbsp;M Couto, and
  M&aacute;rio&nbsp;J Silva.
 In <em>Advanced Information Systems Engineering Workshops</em>. Springer
  Berlin Heidelberg, 2011.
<!--[&nbsp;<a href="{{ include.url }}#moreira2011power">bib</a>&nbsp; | <a href="workshop_silvio-ontose2011.pdf">PDF</a>]-->
</p>


<p><a name="batista2010statistical"></a>
<a href="WPT05_fala2010.pdf"><b>A Statistical Study of the WPT05 Crawl of the Portuguese Web</b>.</a>
 David Batista and M&aacute;rio&nbsp;J Silva.
 In <em>FALA 2010 VI Jornadas en Tecnolog&iacute;a del Habla and II
  Iberian SLTech Workshop, Vigo, Spain</em>. Universidade de Vigo, 2010.
<!--[&nbsp;<a href="{{ include.url }}#batista2010statistical">bib</a>&nbsp; | <a href="http://dmir.inesc-id.pt/project/WPT_05_in_English">WPT05</a>&nbsp;  | <a href="WPT05_fala2010_poster.pdf">poster</a>&nbsp; | <a href="WPT05_fala2010.pdf">PDF</a>]-->
</p>


<p><a name="ferreira2010geo"></a>
<a href="geo-net-alignment_10.pdf"><b>The Geo-Net-PT/Yahoo! GeoPlanet (TM) concordance</b>.</a>
 Joao&nbsp;D Ferreira, David&nbsp;S Batista, Francisco&nbsp;M Couto, and M&aacute;rio&nbsp;J
  Silva.
 Technical report, Universidade de Lisboa, 2010.
<!--[&nbsp;<a href="{{ include.url }}#ferreira2010geo">bib</a>&nbsp;| <a href="http://dx.doi.org/10455/6677">DOI</a>&nbsp;| <a href="http://dmir.inesc-id.pt/project/Geo-Net-PT_02_in_English">Geo-Net-PT02</a>&nbsp; | <a href="geo-net-alignment_10.pdf">PDF</a>]-->
</p>


<p><a name="batista2010geographic"></a>
<a href="geo_sigs_GIR_10.pdf"><b>Geographic Signatures for Semantic Retrieval</b>.</a>
 David&nbsp;S Batista, M&aacute;rio&nbsp;J Silva, Francisco&nbsp;M Couto, and Bibek
  Behera.
 In <em>Proceedings of the 6th Workshop on Geographic Information
  Retrieval</em>. ACM, 2010.
<!--[&nbsp;<a href="{{ include.url }}#batista2010geographic">bib</a>&nbsp;| <a href="http://dmir.inesc-id.pt/project/Geo-Net-PT_02_in_English">Geo-Net-PT02</a>&nbsp;  | <a href="geo_sigs_GIR_10_presentation.pdf">presentation</a>&nbsp; | <a href="geo_sigs_GIR_10.pdf">PDF</a>]-->
</p>


<p><a name="cardoso2010wikipedia"></a>
<a href="cardoso09gikiclef_document.pdf"><b>Where in the Wikipedia is that answer? The XLDB at the GikiCLEF 2009 task</b>.</a>
 Nuno Cardoso, David Batista, Francisco&nbsp;J Lopez-Pellicer, and
  M&aacute;rio&nbsp;J Silva.
 In <em>Multilingual Information Access Evaluation I. Text Retrieval
  Experiments</em>. Springer Berlin Heidelberg, 2010.
<!--[&nbsp;<a href="{{ include.url }}#cardoso2010wikipedia">bib</a>&nbsp; | <a href="cardoso09gikiclef_document.pdf">PDF</a>]-->
</p>


<p><a name="dsbatista2009:msc-thesis"></a>
<a href="master_thesis_09.pdf"><b>Prospec&ccedil;&atilde;o de Conceitos Geogr&aacute;ficos na Web</b>.</a>
 David&nbsp;Soares Batista.
 Master's Thesis, Universidade de Lisboa, 2009.
<!--[&nbsp;<a href="{{ include.url }}#dsbatista2009:msc-thesis">bib</a>&nbsp;| <a href="http://dx.doi.org/10451/4510">DOI</a>&nbsp;  | <a href="master_thesis_09_presentation.pdf">presentation</a>&nbsp; | <a href="master_thesis_09.pdf">PDF</a>]-->
</p>
