<!DOCTYPE html>
<html>
  {% include head_post.html %}
  {% include google_analytics.html %}
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
    <body>
    <a name="top"></a>
    {% include header.html %}
    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>
    {% include footer.html %}
    </body>
</html>