---
layout: default
pagination:
  enabled: true
---

<div class="previews">

  {% for post in paginator.posts %}
  <div class="preview">
    <div class="post-meta">
      <div class="post-date">
        {{ post.date | date: "%-d of %B, %Y" }}
      </div>
      <div class="post-tags">
        {% for tag in post.tags %}
          <span><a href="/tag/{{ tag }}"><code class="post-tags"><nobr>{{ tag }}</nobr></code></a></span>
        {% endfor %}
      </div>
    </div>

    <h1 class="post-title">
      <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    <div class="preview-content">
      <div class="preview-excerpt">
        {{ post.excerpt }}
      </div>
      {% if post.preview_pic %}
        <div class="preview-pic">
          <a href="{{ post.url }}">
            <img style="margin:auto" src="{{ post.preview_pic }}">
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager">

    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer</a>
    </li>
    {% endif %}

    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older</a>
    </li>
    {% endif %}

</ul>
{% endif %}
